.visible {
    visibility: visible;
    opacity: 100%;
}

.invisible,
.hidden {
    visibility: hidden;
    opacity: 0%;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box {
    position: absolute;
}

#content-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    height: 300px;
    margin-top: 100px;
    box-shadow: 0px 0px 10px gray;
    border-radius: 20px;
    transition: visibility 0.5s, opacity 0.5s;
}
